<%- include ('partials/navbar.ejs') %>  
<%- include ('partials/header.ejs') %>

    <h1>Bem-Vindo a Homepage!</h1>
    <hr>
    <p>Iniciando estudos com o Node.js...</p>

    <!-- Importando a imagem da pasta "PUBLIC" -->
     <img src="/images/nodefoto.jpg" alt="Node JS">
    
<%- include ('partials/footer.ejs') %>